
.wpgp-page-slider {
    display: block;
}
.swiper-wrapper {
    width: 100%;
    aspect-ratio: 16/9;
}

.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.folio-meta h2 {
    margin-bottom: 6px;
}

.proj-url {
    margin-top: 6px;
}

