
.wpgp-page-slider {
}
.swiper-wrapper {
    width: 100%;
    aspect-ratio: 16/9;
}

.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

