/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-portfolio-showcase {
	border: 1px dotted #c3c3c3;
}

.components-panel__row.wpgp-panel {
	display: block!important;	
}
.components-base-control {
	display: block!important;
	clear: both;
	min-height: 56px;
	width: 100%;
}
