/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-portfolio-showcase {
	padding: 0px;
	overflow: hidden;
}

.wpg-portfolio {
	display: block;
	width: calc( 100% + 32px );
	box-sizing: border-box;

	margin-left: -16px;
	margin-right: -16px;
}

.wpg-portfolio::after {
	display: table;
	clear: both;
	content: "";
	height: 1px;
}

.wpg-portfolio * {
  box-sizing: inherit;
}

.wpgp-column-5 .portfolio-item {
	display: block;
	float: left;
	width: 20%;
}

.wpgp-column-4 .portfolio-item {
	display: block;
	float: left;
	width: 25%;
}

.wpgp-column-3 .portfolio-item {
	display: block;
	float: left;
	width: 33.33%;
}

.wpgp-column-2 .portfolio-item {
	display: block;
	float: left;
	width: 50%;
}

.wpgp-contents-bg,
.wpgp-item-container,
.wpgp-item-container h3,
.wpgp-item-container h4,
.wpgp-item-container .wpgp-cat-list {
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

.wpgp-item-container {
	padding: 16px;
	width: 100%;
	//border: 1px solid #00ecc8;
	position: relative;
}

.image-container {
	display: block;
	position: relative;
	z-index: 1;
}

.wpgp-contents-bg {
	background-color: #FFFFFF;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0px;
	z-index: 2;

	opacity: 0;
}

.wpgp-link {
	display: block;
	position: absolute;
	z-index: 3;
	left: 48px;
	top: 48px;
}

.entry-content .wpgp-link a,
.entry-content .wpgp-link a:visited {
	color: #969696;
}
.entry-content .wpgp-link a:hover {
	color: #646464;
}

.wpgp-link a,
.wpgp-link a:hover,
.wpgp-link a:visited {
	display: block;
	position: relative;
	float: left;
	margin-right: 12px;

	color: #646464;
	text-decoration: none;
	font-size: 32px;

	transition-delay: .5s;
	margin-top: -64px;
	opacity: 0;	
}

.wpgp-link a:nth-child(2){
	transition-delay: .4s;
}

.wpgp-item-container h3 {
	font-size: 22px;
	font-weight: 600;

	position: absolute;
	left: 48px;
	bottom: 90px;
	z-index: 3;

	transition-delay: .3s;
	margin-bottom: 64px;
	opacity: 0;
}

.wpgp-item-container h4 {
	font-size: 18px;
	font-weight: 400;

	position: absolute;
	left: 48px;
	bottom: 70px;
	z-index: 3;

	transition-delay: .4s;
	margin-bottom: -64px;
	opacity: 0;	
}

.wpgp-item-container .wpgp-cat-list {
	font-size: 14px;

	position: absolute;
	left: 48px;
	bottom: 42px;
	z-index: 3;

	transition-delay: .5s;
	margin-bottom: -56px;
	opacity: 0;	
}

.wpgp-item-container:hover .wpgp-contents-bg {
	background-color: #FFFFFF;
	padding: 0px;
	opacity: 0.88;

	left: 28px;
	top: 28px;
	right: 28px;
	bottom: 28px;
}

.wpgp-item-container:hover .wpgp-link a {
	margin-top: 0px;
	opacity: 1;
}
.wpgp-item-container:hover h3,
.wpgp-item-container:hover h4, 
.wpgp-item-container:hover .wpgp-cat-list {
	margin-bottom: 0px;
	opacity: 1;
}

.image-container img {
	width: 100%;
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.wpgp-column-5 .portfolio-item {
		width: 50%;
	}
	
	.wpgp-column-4 .portfolio-item {
		width: 50%;
	}
	
	.wpgp-column-3 .portfolio-item {
		width: 50%;
	}
	
	.wpgp-column-2 .portfolio-item {
		width: 50%;
	}
}
  
/* Masonry on small screens */
@media only screen and (max-width: 767px) {
	.wpgp-column-5 .portfolio-item {
		float: none;
		width: 100%;
	}
	
	.wpgp-column-4 .portfolio-item {
		float: none;		
		width: 100%;
	}
	
	.wpgp-column-3 .portfolio-item {
		float: none;		
		width: 100%;
	}
	
	.wpgp-column-2 .portfolio-item {
		float: none;		
		width: 100%;
	}
}
